# Same as .gitignore but does not ignore the dist folder

.idea/
.DS_Store
node_modules/
npm-debug.log.*
yarn-error.log
.env
.vscode/*

## MacOS
.DS_Store

## User settings
xcuserdata/

## Config
*.xcconfig
